<%- include("../default/header") %>
<h3>- 개인정보 -</h3>
<% console.log(member) %>
ID : <%= member.ID %><br>
PWD : <%= member.PWD %><br>
NAME : <%= member.NAME %><br>
ADDR : <%= member.ADDR %><br>
<a href="/member/modify_form?id=<%= member.ID %>">수정</a>
<a href="/member/delete?id=<%= member.ID %>">삭제</a>
<a href="/member/list">목록으로 이동</a>

